.body {
    margin: 30px;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    width: 100%;
}
 
.main-logo {
    display: flex;
    justify-content: center;
    padding: 20px 20px;

}

.h1 {
    font-family: 'Raleway', sans-serif;
    color: #8a817c;
}
.navigation-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
 }

 .nav-link a{
     font-family: 'Raleway', sans-serif;
     color: #0a0908;
     text-decoration: none;
     transition: 0.6s;  
    
 }

 .nav-link a:hover {
     text-decoration: underline;
     color: #975045;
     letter-spacing: 1px;
     border-radius: 1px;

 }


 .cropped-image {
     object-fit: cover;
     height: 175px;
     width: 500px;
   
 }


 .hline {
     width: 100%; 
     height: 1px; 
     background: #8a817c 
    }


 .profile-pic {
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
    width: 350px;

 }
 /* .about {
     flex-grow: 3;
     justify-content: center;
     align-self: auto, flex-start; 
     font-family: 'Raleway', sans-serif; 
 }  */

 /* .column {
        float: center;
        width: 33.33%;
      } */
      
/* .row:after {
        content: "";
        display: table;
        clear: both;
      }  */

/* .about-container {
        display: flex;
        justify-content: center;
        font-family: "Raleway", sans-serif;

      } */


.container-item {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Raleway';

 }

 .container-item-1 {
    /* float: left; */

 }

 .container-item-2 {
    /* float: center; */
 }

 .container-item-3 {
     /* float: right; */
 }

 .footer {
    font-family: 'Raleway', sans-serif;
    color: #84A592;
    width: 100%;
    position: right;
    bottom: 5px;
    padding-top: 20px;
   
    }

.social-icons {
    display: flex;
    justify-content: space-between;
    padding: 50px;

    }
.portfolio-links {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    height: 500px;
    width: 350px;

}
